In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data_Han/Federal Emergencies and Disasters, 1953-Present.csv')
df.head()

,Declaration Number,Declaration Type,Declaration Date,State,County,Disaster Type,Disaster Title,Start Date,End Date,Close Date,Individual Assistance Program,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program
0,DR-1,Disaster,05/02/1953,GA,NaN,Tornado,Tornado,05/02/1953,05/02/1953,06/01/1954,Yes,No,Yes,Yes
1,DR-2,Disaster,05/15/1953,TX,NaN,Tornado,Tornado and Heavy Rainfall,05/15/1953,05/15/1953,01/01/1958,Yes,No,Yes,Yes
2,DR-3,Disaster,05/29/1953,LA,NaN,Flood,Flood,05/29/1953,05/29/1953,02/01/1960,Yes,No,Yes,Yes
3,DR-4,Disaster,06/02/1953,MI,NaN,Tornado,Tornado,06/02/1953,06/02/1953,02/01/1956,Yes,No,Yes,Yes
4,DR-5,Disaster,06/06/1953,MT,NaN,Flood,Floods,06/06/1953,06/06/1953,12/01/1955,Yes,No,Yes,Yes

In [8]:
df['County'].str.contains('King').value_counts()

False    45799
True       189
Name: County, dtype: int64

In [9]:
df = pd.read_csv('data_Han/KCSO_Incident_Dataset__Historic_to_2019.csv')
df.head()

,case_number,incident_datetime,incident_type,FCR,address_1,city,state,zip,created_at,updated_at,hour_of_day,day_of_week,Incident Block Location
0,C19046940,12/09/2019 09:02:00 AM,Other,503,1 Block AVE & YESLER WAY,SEATTLE,WA,98104,12/12/2019 06:19:00 PM,12/12/2019 08:07:00 PM,9,Monday,NaN
1,C19046039,12/02/2019 06:01:00 PM,Other,162,19700 Block 635TH PL NE,BARING,WA,98224,12/05/2019 05:15:00 PM,12/05/2019 07:06:00 PM,18,Monday,NaN
2,C19026684,07/14/2019 01:29:00 AM,Vehicle Recovery,311,1 Block PL S & DES MOINES MEMORIAL DR S,BURIEN,WA,98168,07/15/2019 05:45:00 AM,07/15/2019 06:09:00 PM,1,Sunday,NaN
3,C19043968,11/16/2019 10:07:00 PM,Traffic,404,RAINIER AVE N & RENTON AVE S,SKYWAY,WA,98178,11/19/2019 04:30:00 PM,11/19/2019 06:16:00 PM,22,Saturday,NaN
4,C19042199,11/04/2019 07:18:00 AM,Property Crime,313,1 Block PL S & DES MOINES MEMORIAL DR S,BURIEN,WA,98168,11/05/2019 04:35:00 PM,11/05/2019 06:26:00 PM,7,Monday,NaN

In [10]:
df = pd.read_csv('data_Han/KCSO_Offense_Reports__2020_to_Present.csv')
df.head()

C:\Users\yanha\AppData\Local\Temp\ipykernel_30604\186385548.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data_Han/KCSO_Offense_Reports__2020_to_Present.csv')

,case_number,incident_datetime,nibrs_code,nibrs_code_name,block_address,city,state,zip,reporting_area,district,precinct,created_at,updated_at,hour_of_day,day_of_week,ID
0,C20000090,12/27/2019 06:00:00 AM,23F,Theft From Motor Vehicle,13300 Block NEWCASTLE COMMONS DR,NEWCASTLE,WA,98059.0,Reporting Area H02003,District H2,3.0,01/01/2020 08:03:04 PM,01/01/2020 08:04:15 PM,6,6,12136416598
1,C20000045,12/31/2019 09:00:00 PM,290,Destruction/Damage/Vandalism of Property,10100 Block 8TH AVE S,SEATTLE,WA,98168.0,Reporting Area K07002,District K7,4.0,01/01/2020 10:45:27 AM,01/01/2020 10:47:23 AM,21,3,12135961258
2,C20000380,01/04/2020 01:08:00 AM,35B,Drug Equipment Violations,16500 Block INTERNATIONAL BLVD,SEATAC,WA,98188.0,Reporting Area L02003,District L2,4.0,01/04/2020 02:44:38 AM,01/04/2020 02:46:46 AM,1,7,12139600902
3,C20000144,01/02/2020 12:00:00 AM,23F,Theft From Motor Vehicle,11600 Block RAINIER AVE S,SEATTLE,WA,98178.0,Reporting Area K08005,District K8,4.0,01/02/2020 10:09:06 AM,01/02/2020 10:33:20 AM,0,5,12137075078
4,C20000796,01/06/2020 04:00:00 PM,23H,All Other Larceny,19700 Block 26TH AVE NW,SHORELINE,WA,98177.0,Reporting Area A01001,District A1,5.0,01/07/2020 01:19:32 PM,01/07/2020 01:25:00 PM,16,2,12148699229

In [11]:
df = pd.read_csv('data_Han/us_disaster_declarations.csv')
df.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,last_ia_filing_date,hash,id,last_refresh
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,NaN,deb98e5688deba24cdce35e6ead78158fd80f741,8f8b4a86-847f-422c-b2a3-bbdb2f2ee9d7,2022-07-20T21:22:24Z
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,NaN,319d7571fad2f0f6a3270e968fc1497ee4483831,4926ca15-ee98-4d43-9636-4c3e4d1308d2,2022-07-20T21:22:24Z
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,NaN,5eca2ab08254fda0184630d798f5a17b95bd39f7,5c899b70-3999-47c0-80c7-e5cb8908a048,2022-07-20T21:22:24Z
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,NaN,af9856b9f1e8ada710ff92690a1cfec368f9b315,8f69798b-4084-41b9-a389-f0c51ebac066,2022-07-20T21:22:24Z
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,NaN,750685661b7d2fbdbc7d967c7ef3bf563df8cca1,cc3997c1-06bc-43d8-a3cc-3696a73637f1,2022-07-20T21:22:24Z

In [12]:
df = pd.read_csv('data_Han/us_disasters_m5.csv')
df.head()

,disaster_number,state,declaration_type,declaration_date,incident_type,declaration_title,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared,incident_begin_date,incident_end_date,fips,designated_area
0,2862,TX,FM,2011-02-28T03:12:00Z,Fire,Willow Creek South Fire Complex,0,0,1,0,2011-02-27T05:00:00Z,NaN,48375,Potter (County)
1,2863,TX,FM,2011-02-28T03:25:00Z,Fire,Matador Fire,0,0,1,0,2011-02-27T05:00:00Z,NaN,48345,Motley (County)
2,2864,TX,FM,2011-02-28T03:37:00Z,Fire,Tanglewood Fire Complex,0,0,1,0,2011-02-27T05:00:00Z,NaN,48381,Randall (County)
3,2865,TX,FM,2011-02-28T05:55:00Z,Fire,Mitchell Fire Complex,0,0,1,0,2011-02-27T05:00:00Z,NaN,48335,Mitchell (County)
4,2867,TX,FM,2011-03-12T00:32:00Z,Fire,Enmin Fire,0,0,1,0,2011-03-11T05:00:00Z,2011-03-17T04:00:00Z,48237,Jack (County)